@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 800px;
    background-color: #203134;
    background-image: radial-gradient(at 47% 33%, hsl(286.45, 25%, 74%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(296.00, 8%, 35%) 0, transparent 55%);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 150px;
    z-index: 2;
}

body a {
    text-decoration-line: none;
    color: beige;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 50px;
}

footer a {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.menu {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(0, 139, 129, 0.85);
}

.menu a:hover {
    color: #d5bbbb;
}

#logo {
    width: 33%;
    height: 100%;
    font-size: 3em;
    font-family: 'Comfortaa', cursive;
    font-family: 'Dancing Script', cursive;
}

#searchBar {
    margin-top: 2%;
    width: 33%;
    height: 100%;
}

.homeProfil {
    display: flex;
    flex-direction: row;
    justify-content: right;
    float: right;
}

.home {
    height: 40px;
    width: 40px;
}

.home {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    background-color: #15bd92;
    border: 1px mediumspringgreen solid;
}

.home a {
    height: 100%;
    padding: 8px;
    margin-top: 3px;
    margin-left: 10px;
    border-radius: 15px;
}

.home:hover {
    background-color: #1fb06f;
    border: 3px mediumspringgreen solid;
}

#login {
    padding: 35px;
}

#register {
    padding: 35px;
}

.searchBar {
    width: 70px;
    float: left;
    height: 25px;
    transition: width 0.4s ease-in-out;
}
.searchBar:focus {
    display: inline;
    width: 200px;
}


.fa-user-alt {
    font-size: 2em;
    cursor: pointer;
    height: 100%;
}

.profil {
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #15bd92;
    border: 1px mediumspringgreen solid;
}

.profil:hover {
    background-color: #1fb06f;
    border: 3px mediumspringgreen solid;
}

#profil {
    width: 10%;
    display: none;
    float: right;
    background-color: #009186;
    margin-right: 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#profil:hover {
    display: block;
}

#profil li {
    list-style-type: none;
    padding: 3%;
    text-align: center;
    border: 1px solid #00c0c0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#profil li:hover {
    background-color: #1fb06f;
    cursor: pointer;
}

.profilMenu {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.fa-home {
    font-size: 2em;
}

.pictureCharacter {
    width: 65%;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 2%;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(5, 247, 255, 0.22);
}

.pictureCharacter img {
    border-radius: 15px;
   max-width: 1200px;
    max-height: 700px;
}

.pictureCharacter a {
    border-radius: 10px;
    font-size: x-large;
}

.formDerscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.formDerscription form textarea, select{
    width: 100%;
}


.description {
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
    background-color: rgba(32, 49, 52, 0.14);
}

.allDataComment {
    width: 65%;
    border: rgba(255, 255, 255, 0.36) 2px groove;
    background-color: #009186;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(0, 139, 129, 0.18);
}


#comment {
    width: 100%;
}

input[name="comment"] {
    width: 50%;
    height: 25px;
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 8px;
}

.commentContent {
    width: 90%;
    background-color: #27afa3;
    border: 2px black solid;
    padding: 3px;;
    border-radius: 15px;
    margin: 5px;

}

.all-character {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 15px;
}

#addCharacter {
    padding: 5px;
    background-color: #1fb06f;
    border: #e7e4e4 3px solid;
    border-radius: 10px;
    margin: 20px;
}

#addCharacter:hover {
    background-color: #0d7549;
}

.character {
    border: 3px white solid;
    width: 25%;
    height: 150px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.all-classe {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 15px;
}

.character:hover {
    border: 7px white solid;
}

.character a {
    height: 100%;
}

.character a, h1, h3 {
    color: rgba(255, 255, 255, 0.99);
    background-color: rgba(112, 115, 115, 0.20);
    font-size: 1em;
}

.Moine {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(0, 204, 116);
    border-radius: 15px;
    background-image: url(../media/monk.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Voleur {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(238, 255, 0);
    border-radius: 15px;
    background-image: url(../media/rogue.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Pretre {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(245, 223, 223);
    border-radius: 15px;
    background-image: url(../media/priest.png);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Guerrier {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(124, 107, 69);
    border-radius: 15px;
    background-image: url(../media/warrior.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Chasseur-de-demon {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(199, 0, 255);
    border-radius: 15px;
    background-image: url(../media/dh.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Demoniste {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(156, 8, 255);
    border-radius: 15px;
    background-image: url(../media/warlock.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}


.Chasseur {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(11, 159, 0);
    border-radius: 15px;
    background-image: url(../media/hunter.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Paladin {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(250, 113, 255);
    border-radius: 15px;
    background-image: url(../media/paladin.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Chaman {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(0, 2, 248);
    border-radius: 15px;
    background-image: url(../media/shaman.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Mage {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(0, 2, 248);
    border-radius: 15px;
    background-image: url(../media/mage.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Chevalier-de-la-mort {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(0, 2, 248);
    border-radius: 15px;
    background-image: url(../media/dk.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.Druide {
    width: 20%;
    height: 350px;
    border: solid 5px rgb(0, 2, 248);
    border-radius: 15px;
    background-image: url(../media/druid.jpg);
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

#add-character {
    margin-bottom: 100px;
}

#classe {
    border: 2px solid #d5d1d1;
    border-radius: 15px;
    text-align: center;
    font-size: 1em;
}

#classe:hover {
    border: 3px solid #d5d1d1;
}

.classes {
    width: 80%;
    height: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-content: start;
}

.userData {
    border-radius: 15px;
    border: 4px solid white;
    margin-top: 20px;
    padding: 5%;
}

.showUserData {
    margin-bottom: 100px;
}

.showUserData:hover, .hideUserData:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.alert-error {
    background-color: #c95252;
    border-radius: 10px;
}

.alert-succes {
    background-color: #00a843;
    border-radius: 10px;
}

.alert {
    width: 80%;
    text-align: center;
    border-radius: 5px;
    animation-name: alert;
    animation-duration: 2s;
}

.fas {
    font-size: 1em;
    cursor: pointer;
    margin-right: 10px;
}

.fa-cog:hover {
    animation-name: update;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

input[type='submit'] {
    background-color: rgba(6, 255, 255, 0.7);
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

input[name='upload'] {
    background-color: rgb(0, 192, 192);
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

input[name='upload']:hover {
    background-color: rgb(3, 255, 255);
    border: 1px solid #ffffff;
}

input[name='update'] {
    background-color: rgb(0, 192, 192);
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

#sendPicture, .showUserData {
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
}

#hidden {
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
}

#previous {
    cursor: pointer;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 2px rgba(255, 255, 255, 0.47);
    border-radius: 20px;
    width: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(143, 255, 252, 0.17);
    margin-top: 100px;
}
#loginForm input {
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
}
#loginForm input::selection {
    border: #00c0c0;
}
#loginForm input:focus {
    border: 5px ridge mediumspringgreen;
    border-radius: 10px;
    outline      : none;
}

#loginForm input[type=submit] {
    margin-top: 30px;
}
#loginForm input[type=submit]:hover {
    background-color: #89f5f2;
}

#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 2px rgba(255, 255, 255, 0.47);
    border-radius: 20px;
    width: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(143, 255, 252, 0.17);
    margin-top: 100px;
}

#registerForm input {
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
}

#registerForm input[type=submit] {
    margin-top: 30px;
}
#registerForm input[type=submit]:hover {
    background-color: #89f5f2;
}
#registerForm input::selection {
    border: #00c0c0;
}
input[type=text]:focus {
    border: 5px ridge mediumspringgreen;
    border-radius: 10px;
    outline      : none;
}

@keyframes alert {
    0% {
        margin-top: 5px;
        transform: rotate(1deg);
    }
    10% {
        margin-top: 10px;
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    60% {
        transform: rotate(-1deg);
    }
    70% {
        transform: rotate(1deg);
    }
    80% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

@keyframes update {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (min-width: 320px) and (max-width: 700px) {
    body {
        width: 100%;
        min-height: 800px;
        margin-top: 150px;
    }

    header {
        width: 100%;
        height: 100px;
    }

    footer {
        width: 100%;
        height: 50px;
        margin-top: 50px;
    }

    footer a {
        margin-top: 50px;
        margin-right: 50px;
    }

    .menu {
        width: 100%;
        height: 70px;
        justify-content: space-between;
    }

    #logo {
        display: none;
    }

    #searchBar {
        margin-top: 2%;
        width: 70%;
    }

    .home {
        margin-top: 0;
        margin-right: 5px;
        height: 40px;
        width: 40px;
    }

    .home {
        border: 1px mediumspringgreen solid;
    }

    .home a {
        width: 100%;
        height: 100%;
        padding: 8px;
        margin-top: 3px;
        margin-left: 1px;
    }

    .home:hover {
        border: 3px mediumspringgreen solid;
    }

    .homeProfil {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }

    #login {
        display: inline;
        padding: 1px;
        text-align: center;
        margin-right: 5px;
    }

    #register {
        display: inline;
        padding: 1px;
    }
    .searchBar {
        width: 65px;
        float: left;
        height: 25px;
        transition: width 0.4s ease-in-out;
    }
    .searchBar:focus {
        display: inline;
        width: 95px;
    }

    .fa-user-alt {
        font-size: 2em;
        height: 100%;
    }

    .profil {
        margin-top: 0;
        margin-left: 15px;
        height: 40px;
        width: 40px;
        padding: 10px;
        border: 1px mediumspringgreen solid;
    }

    #profil {
        width: 30%;
        margin-right: 1%;
    }

    #profil li {
        padding: 3%;
        border: 1px solid #00c0c0;
    }

    .fa-home {
        font-size: 2em;
    }

    .pictureCharacter {
        width: 90%;
        border: 1px solid rgba(255, 255, 255, 0.125);
        margin-top: 30px;
    }

    .pictureCharacter img {
        width: 90%;
        margin-left: 5%;
    }

    .description {
        width: 100%;
        font-size: 1.2em;
        padding: 10px;
    }

    .allDataComment {
        width: 90%;
        border: rgba(255, 255, 255, 0.36) 2px groove;
    }

    #comment {
        width: 80%;
    }

    input[name="comment"] {
        width: 50%;
        height: 25px;
        margin-left: 25%;
        margin-top: 1%;
    }

    .commentContent {
        width: 90%;
        border: 2px black solid;
        padding: 3px;;
        margin: 5px;
    }

    .all-character {
        width: 100%;
        padding: 15px;
    }

    #addCharacter {
        padding: 5px;
        border: #e7e4e4 3px solid;
        margin: 20px;
    }

    .character {
        border: 3px white solid;
        width: 25%;
        height: 150px;
        margin: 5px;
    }

    .all-classe {
        width: 80%;
        padding: 15px;
    }

    .character:hover {
        border: 7px white solid;
    }

    .character a, h1, h3 {
        font-size: 0.8em;
    }

    .Moine {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(0, 204, 116);
    }

    .Voleur {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(238, 255, 0);
    }

    .Pretre {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(245, 223, 223);
    }

    .Guerrier {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(124, 107, 69);
    }

    .Chasseur-de-demon {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(199, 0, 255);
    }

    .Demoniste {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(156, 8, 255);
    }


    .Chasseur {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(11, 159, 0);
    }


    .Paladin {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(250, 113, 255);
    }

    .Chaman {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(0, 2, 248);
    }

    .Mage {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(0, 2, 248);
    }

    .Chevalier-de-la-mort {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(0, 2, 248);
    }

    .Druide {
        width: 35%;
        height: 200px;
        border: solid 5px rgb(0, 2, 248);
    }

    #classe {
        width: 80%;
    }

    #classe:hover {
        border: 3px solid #d5d1d1;
    }

    .classes {
        width: 100%;
        height: 150px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .userData {
        border-radius: 15px;
        border: 4px solid white;
        margin-top: 20px;
        padding: 5%;
    }

    .fas {
        font-size: 1em;
        margin-right: 10px;
    }

    input[type='submit'] {
        padding: 5px;
        border-radius: 10px;
    }

    input[name='upload'] {
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 10px;
    }

    input[name='upload']:hover {
        border: 1px solid #ffffff;
    }

    input[name='update'] {
        border: 1px solid #ffffff;
        padding: 10px;
        border-radius: 10px;
    }

    #sendPicture, .showUserData {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    #hidden {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #loginForm {
        border-radius: 20px;
        width: 90%;
        padding: 50px 15px 50px 15px;
    }
    #loginForm input {
        margin-top: 10px;
        border-radius: 10px;
    }

    #loginForm input[type=submit] {
        margin-top: 30px;
    }
    #loginForm input[type=submit]:hover {
        background-color: #89f5f2;
    }

    #registerForm {
        border-radius: 20px;
        width: 90%;
        padding: 50px 50px 50px 50px
    }

    #registerForm input {
        margin-top: 10px;
        border-radius: 10px;
    }

    #registerForm input[type=submit] {
        margin-top: 30px;
    }

}