@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 800px;
    background-color: #203134;
    background-image:
            radial-gradient(at 47% 33%, hsl(286.45, 25%, 74%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(296.00, 8%, 35%) 0, transparent 55%);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 150px;
    z-index:2;
}

body a {
    text-decoration-line: none;
    color: beige;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index:1;
}

footer {
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
footer a {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.menu {
    width: 100%;
    height: 100px;
    background-color: #1fb06f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(0, 139, 129, 0.85);
}

#logo {
    width: 33%;
    height: 100%;
    font-size: 3em;
    font-family: 'Comfortaa', cursive;
    font-family: 'Dancing Script', cursive;
}

#searchBar {
    margin-top: 2%;
    width: 33%;
    height: 100%;
}
.homeProfil{
    display: flex;
    flex-direction: row;
    justify-content: right;
    float: right;
}
.home {
    height: 100%;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home a{
    height: 100%;
    padding: 35px;
    border-right: 1px #038f5b solid;
    margin-left: 10px;
}

.home:hover {
    background-color: #0d7549;
}

#login {
    padding: 35px;
}

#register {
    padding: 35px;
}

input[name="searchBar"] {
    width: 300px;
    float: left;
}

.fa-user-alt {
    font-size: 2em;
    cursor: pointer;
    height: 100%;
}

.profil {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 35px;
}
.profil:hover {
    background-color: #0d7549;
}

#profil {
    width: 10%;
    display: none;
    float: right;
    background-color: #1fb06f;
    margin-right: 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#profil:hover {
    display: block;
}

#profil li {
    list-style-type: none;
    padding: 3%;
    text-align: center;
    border: 1px solid #00c0c0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#profil li:hover {
    background-color: #009186;
    cursor: pointer;
}

.profilMenu {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.fa-home {
    font-size: 2em;
}
.pictureCharacter {
    width: 75%;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(0, 139, 129, 0.34);
}

.pictureCharacter img {
    border-radius: 15px;
}

.pictureCharacter a {
    border-radius: 10px;
}


.description {
    width: 80%;
    font-size: 1.4em;
}

.allDataComment {
    width: 75%;
    border: beige 2px groove;
    background-color: #009186;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 25%;
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(0, 139, 129, 0.18);
}


#comment {
    width: 100%;
}

input[name="comment"] {
    width: 50%;
    height: 25px;
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 8px;
}

.commentContent {
    width: 60%;
    background-color: #27afa3;
    border: 2px black solid;
    padding: 3px;;
    border-radius: 15px;
    margin: 5px;

}

.all-character {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 15px;
}

#addCharacter {
    padding: 5px;
    background-color: #1fb06f;
    border: #e7e4e4 3px solid;
    border-radius: 10px;
    margin: 20px;
}

#addCharacter:hover {
    background-color: #0d7549;
}

.character {
    border: 3px white solid;
    width: 25%;
    height: 150px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.all-classe {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 15px;
}

.character:hover {
    border: 7px white solid;
}

.Moine {
    background-color: #1fb06f;
    color: white;
}

.Voleur {
    background-color: #c0b001;
    color: white;
}

.Pretre {
    background-color: #d5d1d1;
    color: white;
}

.Guerrier {
    background-color: #8a643c;
    color: white;
}

.Chasseur-de-demon {
    background-color: #9d00c0;
    color: white;
}

.Demoniste {
    background-color: #7400e1;
    color: white;
}

.Chasseur {
    background-color: #24b01f;
    color: white;
}

.Paladin {
    background-color: #d35fbc;
    color: white;
}

.Chaman {
    background-color: #0043c0;
    color: white;
}

.Mage {
    background-color: #00c0c0;
    color: white;
}

.Chevalier-de-la-mort {
    background-color: #c00000;
    color: white;
}

.Druide {
    background-color: #f37c00;
    color: white;

}

.classe {

}
#classe {
    border: 2px solid #d5d1d1;
    border-radius: 15px;
    text-align: center;
    font-size: 1em;
}

#classe:hover {
    border: 3px solid #d5d1d1;
}

.classes {
    width: 80%;
    height: 60px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userData {
    border-radius: 15px;
    border: 4px solid white;
    margin-top: 20px;
    padding: 5%;
}

.showUserData:hover, .hideUserData:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.alert-error {
    background-color: #c95252;

}

.alert-succes {
    background-color: #00a843;
}

.alert {
    width: 80%;
    text-align: center;
    border-radius: 5px;
    animation-name: alert;
    animation-duration: 2s;
}

p .fas {
    font-size: 1.5em;
    cursor: pointer;
}

p .fas:hover {
    animation-name: update;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes alert {
    0% {
        margin-top: 5px;
        transform: rotate(1deg);
    }
    10% {
        margin-top: 10px;
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    60% {
        transform: rotate(-1deg);
    }
    70% {
        transform: rotate(1deg);
    }
    80% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(1deg);
    }
}
@keyframes update {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}